button.button {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  border: 2px dashed hsl(41.9deg, 20%, 57.8%, 1);
  border-bottom: 2px dashed transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 0px hsl(41.9deg, 20%, 57.8%, 1);

  background-color: hsl(41.9deg, 20%, 57.8%, 0.2);
  color: var(--color-foreground);

  font-family: var(--font-mono);
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: hsl(41.9deg, 20%, 57.8%, 0.1);
}

button.button:active {
  border: 2px dashed hsl(41.9deg, 20%, 57.8%, 1);
  box-shadow: none;
}
